#french-flag {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    position: relative; 
}
#french-blue {
    width: 100px;
    background-color: blue;
    height: 250px;
    position: absolute;
}
#french-white{

}
#french-red {

}